MONGODB_URI=mongodb+srv://
JWT_SECRET=some-secret-jwt
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=some-secret-jwt
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
GOOGLE_CLIENT_ID=... .apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=some-secret
OPENAI_API_KEY=some-key